body {
}

.form {
  font-family: "Courier New", Courier, monospace;
  padding-top: 1%;
  text-align: center;
  border-color: antiquewhite;
  border-width: 1px;
}

.mainContainer {
  border-color: antiquewhite;
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "leftContainer rightContainer";
}
.leftContainer {
  border-color: black;
  border-style: solid;
  width: 90%;
  text-align: center;
}

.rightContainer {
  border-color: black;
  border-style: solid;
  width: 90%;
  text-align: center;
}
