body {
  background-color: black;
  color: white;
  margin: 0; /* Add this line to remove default body margin */
}

.form {
  font-family: "Courier New", Courier, monospace;
  padding-top: 1%;
  text-align: center;
  border-color: antiquewhite;
  border-width: 1px;
}

.container {
  /* Add this class to style the containers */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "leftContainer rightContainer";
  min-height: calc(
    100vh - 20px
  ); /* Adjust the height to leave 10px margin at the top and bottom */
  gap: 20px;
}
.leftContainer {
  border-color: antiquewhite;
  border-style: solid;
  width: 90%;
  text-align: center;
  height: 100%;
  padding-bottom: 10px; /* Add padding at the bottom to create space for searchResultsContainer */
}

.rightContainer {
  border-color: antiquewhite;
  border-style: solid;
  width: 90%;
  text-align: center;
  height: 100%; /* Set the height of the rightContainer to 100% of its parent */
  display: flex;
  flex-direction: column;
  padding-bottom: 10px; /* Add padding at the bottom to create space for searchResultsContainer */
}

/* Style the search form */
#searchForm {
  margin-bottom: 10px;
}

#searchInput {
  width: 200px;
  padding: 5px;
}

#searchButton {
  background-color: antiquewhite;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #771818;
  color: white;
}

/* Style the logout button */
#logoutButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 9999; /* Set a high z-index value to ensure the button appears on top */
}

#logoutButton:hover {
  background-color: #d32f2f;
}

/* Style the pagination buttons */
#previousButton,
#nextButton {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#previousButton:hover,
#nextButton:hover {
  background-color: #1976d2;
}

.searchResultsContainer {
  height: calc(100vh - 250px); /* Adjust the height as per your requirements */
  overflow-y: auto;
  width: 100%;
}
