<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/homestyle.css" />
  </head>
  <body>
    <div class="container">
      <form class="form" action="/home/home" method="post">
        <input type="text" name="search" value="" />
        <input type="submit" value="Search" />
      </form>
    </div>
    <div class="container">
      <form class="form" action="/home/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <div class="usernameContainer">
      <p></p>
    </div>
    <div class="mainContainer">
      <div class="leftContainer">
        <% concerts.forEach(function(concert) { %> <% if
        (concert.linkedUserConcerts) { %> <%
        concert.linkedUserConcerts.forEach(function(linkedUserConcert) { %> <%
        if (linkedUserConcert.userId === userId) { %>
        <!-- Check if the linkedUserConcert's userId matches the current user's userId -->
        <p><%= concert.concert.name %></p>
        <!-- Display the concert name -->
        <% } %> <% }); %> <% } %> <% }); %>
      </div>
      <div class="rightContainer">
        <% concerts.forEach(function(concert) { %>
        <div>
          <h2><%= concert.concert.name %></h2>
          <% concert.associatedUsernames.forEach(function(username) { %>
          <p>Username: <%= username %></p>
          <% }); %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
