<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/homestyle.css" />
  </head>
  <body>
    <div class="container">
      <form class="form" action="/home/home" method="post">
        <input type="text" name="search" value="" />
        <input type="submit" value="Search" />
      </form>
    </div>
    <div class="container">
      <form class="form" action="/home/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <div class="usernameContainer">
      <p>Username: <%= userData.username %></p>
    </div>
    <div class="mainContainer">
      <div class="leftContainer">
        <% linkedConcerts.forEach(function(linkedConcert) { %> <% if
        (linkedConcert.userId === userData.id) { %>
        <!-- Update the condition to use userData.id -->
        <p><%= linkedConcert.Concert.name %></p>
        <% } %> <% }); %>
      </div>

      <div class="rightContainer">
        <% concerts.forEach(function(concert) { %>
        <div>
          <h2><%= concert.concert.name %></h2>
          <% concert.associatedUsernames.forEach(function(username) { %>
          <p>Username: <%= username %></p>
          <% }); %>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
